.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.auto-complete_root: {
  position: relative;
  width: 320px;
}
li {
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
}
button: {
  background: none;
  border: none;
  padding: 0;
}
